.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
.venv
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.idea/
*.swp
*.swo
*~
/dist
/build/
/.next
/out
/.expo
/.webpack
.node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*